.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px; /*сверху справа снизу слева*/
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 35px;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}
.active_link{
  text-decoration: none;
}
.active_link_style{
list-style-type: none;
}

.logo {
  height: 105px;
  width: 148px;
}
.address {
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-weight: 400;
  font: url("../fonts/Raleway-Regular.woff");
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.cover {
  text-transform: uppercase;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: 1100px 757px;
  height: 757px;
  background-repeat: no-repeat;
  margin-bottom: 180px;

  color: white;
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}
.cover__title {
  position: relative;
  font: "Raleway";
  letter-spacing: 30px;
  z-index: 3;
  height: 385px;
}
.aligned-text {
  font-size: 100px;
}

.aligned-text_center {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aligned-text_right {
  position: absolute;
  font-size: 100px;
  bottom: 0;
  right: 0;
}
.description {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  word-spacing: 25px;
  font-size: 22px;
}
.button {
  background-color: transparent;
  font-style: medium;
  text-transform: uppercase;
  font: inherit;
  color: inherit;
  padding: 13px 31px;
  border-color: white;
}
.title-lots {
  font: "Raleway";
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px;
  text-transform: uppercase;
}
.lots {
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}
.lots_list {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.lots_item {
  width: 334px;
  height: 596px;
  list-style: none;
}
.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 48px;
  z-index: 1;
}
.lot-card-title,
.lot-card-text {
  color: white;
  position: relative;
  z-index: 3;
  font: "Raleway";
}
.lot-card-title {
  font-weight: 700;
  text-decoration-color: white;
  text-decoration: underline;
  font-size: 22px;
  text-transform: uppercase;
}
.lot-card-text {
  font-weight: 400;
  margin-top: auto;
  text-decoration: none;
  font-size: 20px;
}

.lot-card-bg {
  background-position: cover;
  background-size: 334px 596px;
  height: 596px;
  background-repeat: no-repeat;
}
.lot-card-film {
  background-image: url("../images/card-lot-01.jpg");
}
.lot-card-book {
  background-image: url("../images/card-lot-02.jpg");
}
.lot-card-picture {
  background-image: url("../images/card-lot-03.jpg");
}
.watch-more {
  margin-top: 30px;
  margin-left: 40px;
}

.about_columns {
  display: grid;
  grid-template-columns: 334px 1fr; /* Первая колонка 334px, вторая - остальное пространство */
  gap: 40px; /* Отступ между колонками */
  align-items: start; /* Выравнивание по верхнему краю */
  margin-top: 0px;
}
.about__column_logo {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  width: 240px;
  height: 240px;
  background-color: black; /* Черный фон для круга */
  border-radius: 50%;
  margin: 0 auto; /* Центрирование контейнера в колонке */
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.about_logo_image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px; /* Отступ под заголовком */
  font-size: 40px;
  font-weight: 700;
  font: "Raleway";
  font-style: bold;
  text-transform: uppercase;
}
.about__text {
  font-size: 20px;
  font: "Raleway";
  font-weight: 400;
}
.about__paragraph {
  margin: 0;
}
.about__paragraph_first {
  margin-bottom: 24px; /* Отступ только у первого абзаца */
}

.about__paragraph_second {
  margin-bottom: 0; /* Убираем отступ у второго абзаца */
}
.footer {
  margin-top: 180px;
  padding-bottom: 82px;
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__menu{
  justify-self: center;
}
.footer__menu-list{
    list-style-type: none;
    font:"Raleway";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.footer__menu-link_active{
  text-decoration: none;
}
.footer__social-icon{
  width:40px;
  height: 40px;
}
.socials {
  list-style-type: none;
  display: flex;
  justify-self:center;
  gap:48px;
}

